
.prefNavWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  margin: 10px 0;

  background: #f5b5a3;
}

.menuIcon {
  @media  all and (min-width: 769px){
    display: none;
  }
}

.searchWrapper {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 2.5fr 1fr;

  background: white;
  border-radius: 20px;

  padding: 0 10px;

}
.inputWrapper {
  grid-column:  1/3;

  display: flex;
  align-items: center;


  input {
    width: 100%;
    //height: 50px;

    border: none;
    padding: 0;

    //font-size: 1.2em;

    &:focus {
      outline: none;
    }
  }
  //grid-area: 1 / 1 / 2 / 4;
}

.buttonWrapper {
  grid-column: 3;
  display: flex;
  align-items: center;

  button{
    padding: 0;
    border: none;
    background: none;

    img {
      width: 40px;
    }
  }
}

.navLinks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  div{
    border: 1px solid #000;
  }
}

@media all and (max-width: 768px){
  .prefNavWrapper{
    grid-template-columns: 0.4fr 1fr 1fr 1fr;
    //grid-template-columns: repeat(4, 1fr);
  }
  .menuIcon {
    width: 60px;
    grid-column: 0.5/1;
  }

  .searchWrapper {
    grid-column: 2/4;
  }

  .navLinks{
    grid-column: 4/5;
    > div{
      height: 60px;
      width: 60px;
    }

  }
}

@media all and (max-width: 480px){
  .prefNavWrapper{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;

    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .menuIcon {
    grid-row: 1/1;
    grid-column: 1/1;

    //border: 1px solid #000;
    width: 60px;
    height: 60px;

    //display: flex;

    >div {
      display: flex;
      width: 100%;
      justify-content: flex-start;

      background: #8C8C8C;
    }
    //width: 100%;
    //display: flex;
    //justify-self: flex-start;
    //border: 1px solid #000;

  }

  .searchWrapper {
    grid-row: 2/2;
    grid-column: 1/3;
  }

  .navLinks{
    grid-row: 1/1;
    grid-column: 2/3;
    >div {
      display: flex;
      width: 60px;
      justify-content: center;

      background: #8C8C8C;
    }
    //grid-column: 4/5;

  }
}