
.btnWrapper {
  display: flex;
  width: 85%;
  justify-content: center;

  button {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;

    max-width: 60px;
    max-height: 60px;
    img {
      width: 100%;
      //max-width: 50px;
    }
  }
}