
.galleryFilters {
  display: grid;
  //grid-template-columns: repeat(6, 1fr);
  grid-template-columns: repeat(5, 1fr) 0.5fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 10px 0;

  border-radius: 20px;

  background: aliceblue;

  padding: 15px;

  >div{
    p {
      padding: 5px 10px;
      margin: 0;
    }
    &:nth-child(1) {
      grid-column: 1/4;
    }
    &:nth-child(2) {
      grid-column: 4/7;
    }
    &:nth-child(3) {
      grid-column: 1/4;
    }
    &:nth-child(4) {
      grid-column: 4/6;
    }
    &:nth-child(5) {
      grid-column: 6/7;

      height: 50px;
      width: 50px;

      position: relative;
      top: 32px;
    }

  }

  .buttonReloadWrapper{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    position: relative;
  }



  .filterSelectWrapper {
    padding: 5px;

    select{
      width: 100%;
      border: none;
      padding: 15px;
      border-radius: 10px;
    }
  }


  @media screen and (max-width: 480px){
    grid-template-columns: 1fr;

    grid-template-rows: repeat(4, 1fr) 0.5fr;

    >div{
      &:nth-child(1) {
        grid-row: 1;
        grid-column: 1/2;
      }
      &:nth-child(2) {
        grid-row: 2;
        grid-column: 1/2;
      }
      &:nth-child(3) {
        grid-row: 3;
        grid-column: 1/2;
      }
      &:nth-child(4) {
        grid-row: 4;
        grid-column: 1/2;
      }
      &:nth-child(5) {
        grid-row: 5;
        grid-column: 1/2;
        width: 100%;
        top:0;
      }
    }
    .buttonReloadWrapper {
      display: block;

      button {
        width: 100%;
      }
    }

  }
}